body{
    margin: 50px;
    padding: 50px 100px;
}
h1{
    text-align: center;
}
#container{
    text-align: center;
    padding: 50px; 
}
.input-div{
    display: inline-block;
}
.inp{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
label{
    font-size: 20px;
    color: blueviolet;
    font-weight: bold;
}